{% extends "base.html" %} {% block title %} 首页 {% endblock %} {% block styles %} {% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'plugins/revolution-slider/css/settings.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'fonts/communication/webfont/styles.css' %}" />
<style type="text/css">

</style>
{% endblock styles %} {% block focus %}
<div class="banner-container">
    <div class="tp-banner">
        <ul>
            <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="1">
                <img src="{{STATIC_URL}}default/images/banner-1.jpg" alt="darkblurbg" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat">
                <div class="tp-caption sft start" data-x="center" data-hoffset="-300" data-y="90" data-speed="1500" data-start="500" data-easing="Back.easeInOut"
                    data-endeasing="Power1.easeIn" data-endspeed="300">
                    <div class="icon-border"><img src="{{STATIC_URL}}default/images/focus/android.png" alt="IOS" /></div>
                    <p class="txt-center">Android</p>
                </div>
                <div class="tp-caption sft start" data-x="center" data-hoffset="0" data-y="90" data-speed="1500" data-start="500" data-easing="Back.easeInOut"
                    data-endeasing="Power1.easeIn" data-endspeed="300">
                    <div class="icon-border"><img src="{{STATIC_URL}}default/images/focus/ios.png" alt="IOS" /></div>
                    <p class="txt-center">IOS</p>
                </div>
                <div class="tp-caption sft start" data-x="center" data-hoffset="300" data-y="90" data-speed="1500" data-start="500" data-easing="Back.easeInOut"
                    data-endeasing="Power1.easeIn" data-endspeed="300">
                    <div class="icon-border"><img src="{{STATIC_URL}}default/images/focus/windows.png" alt="IOS" /></div>
                    <p class="txt-center">Windows</p>
                </div>
                <div class="tp-caption revolution-ch1 sft" data-x="center" data-hoffset="0" data-y="290" data-speed="1600" data-start="1800"
                    data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off"
                    style="z-index: 6">
                    丰富的多种平台开发经验
                </div>
            </li>
            <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="2">
                <img src="{{STATIC_URL}}default/images/banner-2.jpg" alt="darkblurbg" data-bgfit="cover" data-bgposition="right top" data-bgrepeat="no-repeat">
                <div class="tp-caption randomrotate start" data-x="center" data-hoffset="0" data-y="130" data-speed="1000" data-start="500"
                    data-easing="Back.easeInOut" data-endeasing="Power1.easeIn" data-endspeed="300">
                    <div class="hexagon-lg">
                        <img src="{{STATIC_URL}}default/images/focus/hexagon-solid-yellow.png" alt="">
                        <div class="txt">支持所有浏览器</div>
                    </div>
                </div>
                <div class="tp-caption sft start" data-x="center" data-hoffset="62" data-y="30" data-speed="1500" data-start="1300" data-easing="Back.easeInOut"
                    data-endeasing="Power1.easeIn" data-endspeed="300">
                    <div class="hexagon">
                        <div class="bg">
                            <img src="{{STATIC_URL}}default/images/focus/chrome.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="tp-caption sfr start" data-x="center" data-hoffset="120" data-y="132" data-speed="1500" data-start="1300" data-easing="Back.easeInOut"
                    data-endeasing="Power1.easeIn" data-endspeed="300">
                    <div class="hexagon">
                        <div class="bg">
                            <img src="{{STATIC_URL}}default/images/focus/edge.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="tp-caption sfb start" data-x="center" data-hoffset="62" data-y="237" data-speed="1500" data-start="1300" data-easing="Back.easeInOut"
                    data-endeasing="Power1.easeIn" data-endspeed="300">
                    <div class="hexagon">
                        <div class="bg">
                            <img src="{{STATIC_URL}}default/images/focus/firefox.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="tp-caption sfb start" data-x="center" data-hoffset="-62" data-y="237" data-speed="1500" data-start="1300" data-easing="Back.easeInOut"
                    data-endeasing="Power1.easeIn" data-endspeed="300">
                    <div class="hexagon">
                        <div class="bg">
                            <img src="{{STATIC_URL}}default/images/focus/ie.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="tp-caption sfl start" data-x="center" data-hoffset="-120" data-y="132" data-speed="1500" data-start="1300" data-easing="Back.easeInOut"
                    data-endeasing="Power1.easeIn" data-endspeed="300">
                    <div class="hexagon">
                        <div class="bg">
                            <img src="{{STATIC_URL}}default/images/focus/opera.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="tp-caption sft start" data-x="center" data-hoffset="-62" data-y="30" data-speed="1500" data-start="1300" data-easing="Back.easeInOut"
                    data-endeasing="Power1.easeIn" data-endspeed="300">
                    <div class="hexagon">
                        <div class="bg">
                            <img src="{{STATIC_URL}}default/images/focus/safari.png" alt="">
                        </div>
                    </div>
                </div>
            </li>
            <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="3">
                <img src="{{STATIC_URL}}default/images/banner-3.jpg" alt="darkblurbg" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

                <div class="tp-caption revolution-ch1 sft start" data-x="center" data-hoffset="0" data-y="100" data-speed="1500" data-start="500"
                    data-easing="Back.easeInOut" data-endeasing="Power1.easeIn" data-endspeed="300">
                    教育培训，军队政务解决方案
                </div>
                <div class="tp-caption revolution-ch2 sft" data-x="center" data-hoffset="0" data-y="240" data-speed="1400" data-start="2000"
                    data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off"
                    style="z-index: 6">
                    多年的行业经验和技术积累
                </div>
                <div class="tp-caption sft" data-x="center" data-hoffset="0" data-y="320" data-speed="1600" data-start="2800" data-easing="Power4.easeOut"
                    data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6">
                    <a href="#" class="btn-u btn-brd btn-brd-hover btn-u-light">查看解决方案</a>
                    <a href="#" class="btn-u btn-brd btn-brd-hover btn-u-light">查看客户案例</a>
                </div>
            </li>
        </ul>
        <div class="tp-bannertimer tp-bottom"></div>
    </div>
</div>
{% endblock %} {% block content %}
<div class="container content-sm">
    <div class="title-box">
        <h2>高品质的软件与服务</h2>
        <p>使用最流行的技术平台，紧跟国际技术发展趋势</p>
    </div>
    <div class="content-boxes row">
        <div class="service col-lg-4">
            <a class="" href="javascript:;">
                <div class="icon icon-031 icon-lg"></div>
                <h4 class="">网站建设</h4>
            </a>
            <ul class="hint">
                <li>企业站<span style="font-size: 14px;color:#dcddde">&nbsp;|&nbsp;</span></li>
                <li>政务网<span style="font-size: 14px;color:#dcddde">&nbsp;|&nbsp;</span></li>
                <li>商城<span style="font-size: 14px;color:#dcddde">&nbsp;|&nbsp;</span></li>
                <li>手机站<span style="font-size: 14px;color:#dcddde"></span></li>
            </ul>
        </div>
        <div class="service col-lg-4">
            <a class="" href="javascript:;">
                <div class="icon icon-105 icon-lg"></div>
                <h4 class="">企业应用</h4>
            </a>
            <ul class="hint">
                <li>管理系统<span style="font-size: 14px;color:#dcddde">&nbsp;|&nbsp;</span></li>
                <li>教育培训<span style="font-size: 14px;color:#dcddde">&nbsp;|&nbsp;</span></li>
                <li>军队政务<span style="font-size: 14px;color:#dcddde">&nbsp;|&nbsp;</span></li>
                <li>巡检系统<span style="font-size: 14px;color:#dcddde"></span></li>
            </ul>
        </div>
        <div class="service col-lg-4">
            <a class="" href="javascript:;">
                <div class="icon icon-032 icon-lg"></div>
                <h4 class="">移动开发</h4>
            </a>
            <ul class="hint">
                <li>Android<span style="font-size: 14px;color:#dcddde">&nbsp;|&nbsp;</span></li>
                <li>IOS<span style="font-size: 14px;color:#dcddde">&nbsp;|&nbsp;</span></li>
                <li>微信公众号<span style="font-size: 14px;color:#dcddde">&nbsp;|&nbsp;</span></li>
                <li>微信小程序<span style="font-size: 14px;color:#dcddde"></span></li>
            </ul>
        </div>
        <div class="service col-lg-4">
            <a class="" href="javascript:;">
                <div class="icon icon-086 icon-lg"></div>
                <h4 class="">系统集成</h4>
            </a>
            <ul class="hint">
                <li>二次开发<span style="font-size: 14px;color:#dcddde">&nbsp;|&nbsp;</span></li>
                <li>WEB API<span style="font-size: 14px;color:#dcddde">&nbsp;|&nbsp;</span></li>
                <li>WEB SERVICE<span style="font-size: 14px;color:#dcddde"></span></li>
            </ul>
        </div>
        <div class="service col-lg-4">
            <a class="" href="javascript:;">
                <div class="icon icon-122 icon-lg"></div>
                <h4 class="">服务器托管</h4>
            </a>
            <ul class="hint">
                <li>云服务器<span style="font-size: 14px;color:#dcddde">&nbsp;|&nbsp;</span></li>
                <li>运维<span style="font-size: 14px;color:#dcddde">&nbsp;|&nbsp;</span></li>
                <li>系统维护<span style="font-size: 14px;color:#dcddde"></span></li>
            </ul>
        </div>
        <div class="service col-lg-4">
            <a class="" href="javascript:;">
                <div class="icon icon-114 icon-lg"></div>
                <h4 class="">域名邮箱</h4>
            </a>
            <ul class="hint">
                <li>域名注册<span style="font-size: 14px;color:#dcddde">&nbsp;|&nbsp;</span></li>
                <li>域名备案<span style="font-size: 14px;color:#dcddde">&nbsp;|&nbsp;</span></li>
                <li>企业邮箱<span style="font-size: 14px;color:#dcddde"></span></li>
            </ul>
        </div>
    </div>
</div>
<div class="content-sm light-bg">
    <div class="container">
        <div class="title-box">
            <h2>开发流程</h2>
            <p>我们为您提供清晰、可视、可持续改进的开发流程服务,在每一个环节都秉承打造高品质移动互联网解决方案的开发理念</p>
        </div>
        <div class="content-boxes">
            <ul class="flow">
                <li>
                    <div class="icon"><i class="fa fa-commenting-o fa-3x"></i></div>
                    <p>客户咨询</p>
                </li>
                <li>
                    <div class="icon"><i class="fa fa-comments-o fa-3x"></i></div>
                    <p>需求分析</p>
                </li>
                <li>
                    <div class="icon"><i class="fa fa-handshake-o fa-3x"></i></div>
                    <p>项目启动</p>
                </li>
                <li>
                    <div class="icon"><i class="fa fa-dashboard fa-3x"></i></div>
                    <p>原型设计</p>
                </li>
                <li>
                    <div class="icon"><i class="fa fa-laptop fa-3x"></i></div>
                    <p>界面设计</p>
                </li>
                <li>
                    <div class="icon"><i class="fa fa-code fa-3x"></i></div>
                    <p>程序开发</p>
                </li>
                <li>
                    <div class="icon"><i class="fa fa-adjust fa-3x"></i></div>
                    <p>测试修改</p>
                </li>
                <li>
                    <div class="icon"><i class="fa fa-cloud-upload fa-3x"></i></div>
                    <p>验收交付</p>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container content-sm">
    <ul class="row list-row">
        <li class="col-md-3 col-sm-6 col-xs-12 md-margin-bottom-30">
            <div class="counters rounded">
                <span class="counter">346</span>
                <h4>Web 开发</h4>
            </div>
        </li>
        <li class="col-md-3 col-sm-6 col-xs-12 md-margin-bottom-30">
            <div class="counters rounded">
                <span class="counter">573</span>
                <h4>UI 设计</h4>
            </div>
        </li>
        <li class="col-md-3 col-sm-6 col-xs-12 sm-margin-bottom-30">
            <div class="counters rounded">
                <span class="counter">56</span>
                <h4>APP 开发</h4>
            </div>
        </li>
        <li class="col-md-3 col-sm-6 col-xs-12">
            <div class="counters rounded">
                <span class="counter">197</span>
                <h4>服务器托管</h4>
            </div>
        </li>
    </ul>
</div>
<div class="case parallaxBg">
    <div class="container content-sm">
        <div class="title-box">
            <h2>客户案例</h2>
            <p>优秀案例作品展示</p>
        </div>
        <div class="content-boxes">
            <div class="apps tabs row">
                <ul class="tab-nav col-lg-2">
                    {% for item in cases.keys %}
                    <li>{{item}}</li>
                    {% endfor %}
                </ul>
                <div class="tab-panel col-lg-10">
                    {% for list in cases.values %}
                    <ul class="list">
                        {% for item in list %}
                        <li><img src="{{MEDIA_URL}}{{item.cover}}" alt="布米童艺">
                            <p class="txt-center">{{item.title}}</p>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endfor %}
                </div>
            </div>
            <div class="show-more"><a href="/case">查看全部</a></div>
        </div>
    </div>
</div>
<div class="container content-sm">
    <div class="title-box">
        <h2>公司动态</h2>
        <p>公司新闻，产品最新信息，关注前沿技术</p>
    </div>
    <div class="content-boxes row">
        <div class="col-lg-4">
            <div class="slider">
                <img style="width:100%;" src="{{MEDIA_URL}}news.jpg" />
            </div>
            <div class="hot">
                <h5 class="line-title"><i class="fa fa-volume-up fa-fw"></i> 最新</h5>
                <ul>
                    <li><a href="/news/detail/1">【公司动态】 润图信息新闻</a>
                        <time>2017-06-21</time>
                    </li>
                    <li><a href="">【产品信息】 润图信息新闻</a>
                        <time>2017-06-21</time>
                    </li>
                    <li><a href="">【客户反馈】 润图信息新闻</a>
                        <time>2017-06-21</time>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="slider">
                <img style="width:100%;" src="{{MEDIA_URL}}news2.jpg" />
            </div>
            <div class="hot">
                <h5 class="line-title"><i class="fa fa-volume-up fa-fw"></i> 推荐</h5>
                <ul>
                    <li><a href="">【最新公告】 润图信息网站改版</a>
                        <time>2017-06-21</time>
                    </li>
                    <li><a href="">【产品信息】 润图信息新闻</a>
                        <time>2017-06-21</time>
                    </li>
                    <li><a href="">【客户反馈】 润图信息新闻</a>
                        <time>2017-06-21</time>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="slider">
                <img style="width:100%;" src="{{MEDIA_URL}}news.jpg" />
            </div>
            <div class="hot">
                <h5 class="line-title"><i class="fa fa-volume-up fa-fw"></i> 公告</h5>
                <ul>
                    <li><a href="">【公司动态】 润图信息新闻</a>
                        <time>2017-06-21</time>
                    </li>
                    <li><a href="">【产品信息】 润图信息新闻</a>
                        <time>2017-06-21</time>
                    </li>
                    <li><a href="">【客户反馈】 润图信息新闻</a>
                        <time>2017-06-21</time>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="cooperative content-sm">
    <div class="container">
        <div class="title-box">
            <h2>服务合作伙伴</h2>
            <p>携手共赢，服务好每一位客户，实现共同快速成长</p>
        </div>
        <div class="content-boxes">
            <ul>
                <li><img src="{{STATIC_URL}}default/images/client.png" alt="" />
                    <p class="txt-center">有声艺术培训</p>
                </li>
                <li><img src="{{STATIC_URL}}default/images/client.png" alt="" />
                    <p class="txt-center">有声艺术培训</p>
                </li>
                <li><img src="{{STATIC_URL}}default/images/client.png" alt="" />
                    <p class="txt-center">有声艺术培训</p>
                </li>
                <li><img src="{{STATIC_URL}}default/images/client.png" alt="" />
                    <p class="txt-center">有声艺术培训</p>
                </li>
                <li><img src="{{STATIC_URL}}default/images/client.png" alt="" />
                    <p class="txt-center">有声艺术培训</p>
                </li>
                <li><img src="{{STATIC_URL}}default/images/client.png" alt="" />
                    <p class="txt-center">有声艺术培训</p>
                </li>
            </ul>
            <div class="show-more">查看全部</div>
        </div>
    </div>
</div>
<div class="container content-sm">
    <div class="headline">
        <h4>友情链接</h4>
    </div>
    <div class="links">
        {% for link in links %}
        <div class="item">
            {{link.name}}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %} {% block scripts %} {% load staticfiles %}
<script src="{% static 'plugins/revolution-slider/js/jquery.themepunch.tools.min.js' %}"></script>
<script src="{% static 'plugins/revolution-slider/js/jquery.themepunch.revolution.min.js' %}"></script>
<script src="{% static 'default/js/plugins/revolution-slider.js' %}"></script>
<script src="{% static 'plugins/counter/waypoints.min.js' %}"></script>
<script src="{% static 'plugins/counter/jquery.counterup.min.js' %}"></script>
<script src="{% static 'plugins/jquery.parallax.js' %}"></script>
<script type="text/javascript">
    jQuery(document).ready(function () {
        RevolutionSlider.initRSfullWidth();
        App.initParallaxBg();
        App.initCounter();
    });
</script>
{% endblock %}